body {
  background-color: #f3f2ed;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  height: 100%;
  min-height: 370px;
  max-width: 1400px;
  margin: 25px auto 0px auto;
  border-radius: 15px;
  border: 5px solid #222831;
  background: linear-gradient(300deg, #002b5b, #2b4865, #256d85);
  background-size: 180% 180%;
  animation: gradient-animation 45s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.my-pic {
  height: 200px;
  border-radius: 50%;
  float: right;
  margin: 75px 75px 0px 0px;
}

h1 {
  margin-top: 75px;
}

.header-text {
  color: #f3f2ed;
  padding-left: min(5rem, 8%);
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

.about-container {
  text-align: center;
  padding: clamp(30px, 8vw, 100px);
  max-width: 1000px;
  margin: 0 auto;
}

.about-container p {
  max-width: 1400px;
}

.project-container {
  max-width: 1400px;
  margin: 0px auto;
  border-radius: 15px;
  border: 5px solid #e1e5ea;
  text-align: center;
}

.project-link {
  color: inherit;
  text-decoration: none;
}

.project-card {
  display: inline-block;
  max-width: 400px;
  border-radius: 15px;
  border: 5px solid #e1e5ea;
}

.carping-journey-container {
  margin: 50px 75px 100px auto;
}

.bootstrap-container {
  margin: 50px auto 100px 75px;
}

.project-image {
  max-height: 300px;
  padding: 30px;
}

@media (max-width: 1000px) {
  .carping-journey-container {
    margin: 50px auto 25px auto;
  }

  .bootstrap-container {
    margin: 25px auto 50px auto;
  }
}

.project-text {
  padding: 15px;
}

.contact-container {
  text-align: center;
  padding: 50px;
}

footer {
  color: #f3f2ed;
  clear: both;
  display: block;
  width: 100%;
  height: 50px;
  background: linear-gradient(300deg, #002b5b, #2b4865, #256d85);
  background-size: 180% 180%;
  animation: gradient-animation 45s linear infinite;
}
